<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, du dossier views !</h1>
    <p>La liste de potins arrivent bientôt, en attendant tu peux en créer un</p><br/>
    <a href="/gossips/new/">Click ICI pour créer un new gossip</a>
  </body>
</html>
